.turning {
    background: red;
    animation: 5s infinite linear turning;
    border-radius: 50%;
}

.notTurning {
    border-radius: 50%;
}

@keyframes turning {
    from { transform: rotate(0); }
    to   { transform: rotate(360deg); }
}
  
  